VITE_SUPABASE_URL=https://kcztblzswnaixtfbivmh.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_VEKOb9zykXz0nrYXGyZdsg_UOMLSl00
VITE_PAYPAL_CLIENT_ID=your_paypal_client_id


# PayPal (Production - for payouts in Edge Functions)
PAYPAL_CLIENT_ID=your-AXKARSWPn0FwmJ39enFWAib3p_PMloSMW4G23JnnTA3MKPZ_cNtneMIqACpUa_2uoLLw5mJy1fgfRctr
PAYPAL_CLIENT_SECRET=EJhBBQlCwUnMunWrOh1s1PYlb_Cxl8W3ZF5qXbDH5U3bshfYcNg2B_fygx41HTtknaX2LIzdVaFJaEMf
PAYPAL_ENVIRONMENT=live

# Mux (Production - for video processing)
VITE_MUX_TOKEN_ID=c2bee336-fd94-44a8-896a-43d73d1cded7
VITE_MUX_TOKEN_SECRET=S7pGAp5ploGzZ9iinKvWM5eOI/37hTMvpiTXMyNLDY90pFlRrxdJOg6+gtfxuC5FaCN6RRvq9k3

# Optional: Analytics, etc. (if used)
# VITE_GOOGLE_ANALYTICS_ID=your-ga-id

# Agora (Production - for live streaming)
VITE_AGORA_APP_ID=b92fc941fda947c5888847bb5997a93e
AGORA_APP_CERTIFICATE=23c7a62f29604ab48feab9fe4fe23324

ACRCLOUD_HOST=identify-us-west-2.acrcloud.com
ACRCLOUD_ACCESS_KEY=5c50320442b7e8dd0608d373479e71ea
ACRCLOUD_ACCESS_SECRET=dx4wrpCklf4fJNN5TjrRBRhu7993l0Lxc1okGThv