-- Refresh schema cache for shorts and movies relationships
-- Ensure foreign key constraints are properly recognized by PostgREST

-- The foreign key constraints should already exist from the table creation
-- If they don't, this will add them. PostgREST needs these constraints
-- to recognize the relationship for the `profiles:creator_id(*)` join syntax.

-- Check if the foreign key constraint exists, if not add it
do $$
begin
  if not exists (
    select 1 from pg_constraint 
    where conname = 'shorts_creator_id_fkey'
  ) then
    alter table public.shorts 
      add constraint shorts_creator_id_fkey 
      foreign key (creator_id) references public.profiles(id) on delete cascade;
  end if;
end $$;

do $$
begin
  if not exists (
    select 1 from pg_constraint 
    where conname = 'movies_creator_id_fkey'
  ) then
    alter table public.movies 
      add constraint movies_creator_id_fkey 
      foreign key (creator_id) references public.profiles(id) on delete cascade;
  end if;
end $$;

-- PostgREST automatically refreshes its schema cache when DDL changes are detected
-- This migration ensures the constraints exist and will trigger a cache refresh